:root{
    --main-rafius:5px;
    --main-padding:5px;
}
body{
    margin: 0% 0%;
    background-color: rgba(255, 255, 255, 0.26);
    background-image:url('downhil.jpg');
    background-repeat: no-repeat;
    background-position:fixed;
}p{
    font-family: 'Poppins', sans-serif;
}h4{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    text-transform: capitalize;

    font-weight: 600;
    font-family: 'Poppns', sans-serif;
}
li{
    list-style: none;
    font-family: 'Poppns', sans-serif;
}
.container{
    background:linear-gradient(to bottom,#ffffffbc,rgba(255, 255, 255, 0.672));
    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr  1.2fr 0.2fr;
    grid-template-areas:
    "nav nav nav nav"   
    "main main main main"
    "content1 content1 content2 content2"
    "footer footer footer footer"
    ;
    gap: 0.2rem;
    font-family: 'Inter', sans-serif;
    height: 480vh;
    text-align: center;
}
nav{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-area: nav;
    overflow: hidden;
    align-items: center;
    gap: 0.2rem;
    border-radius:var(--main-rafius);
}nav .box{

}nav .logo a i{
    font-size: 35px;
    text-align: left;
    color: rgb(93, 92, 92);
}nav .ul{
    display: none;
}


main{
    grid-area: main;
    border-radius:var(--main-rafius);
    display: flex;
 
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
}main .main-content{
    display: flex;
    flex-direction:column;
    height: 300px;
    align-items:left;
    padding: 40px 30px ;;
}main .main-content h1{
    margin: 0px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: orangered;
}
main .main-content .main-first-p{
    margin: 0px;
    color: orangered;
font-size: 20px;
text-transform: capitalize;
    text-align: left;
}main .main-content .main-second-p{
    margin: 10px 0px;
    font-size: 13px;
    width: 95%;
    padding: 10px ;
    text-align: left;
    height:auto;
    box-shadow: 2px 2px 8px rgb(255, 255, 255);
    border: 2px solid white;
    background-color: rgba(230, 227, 227, 0.576);
    border-radius: 2px;
}
main .main-content .main-date{
font-weight: bold;
text-transform: uppercase;
text-align: left;
margin-top: 10px;
margin-bottom: 0px;
font-size: 20px;
}main .main-content .main-address{
    text-transform: capitalize;
    margin: 0;
    font-weight: 200;
    text-align: left;
    font-size: 15px;
}








#content1{
    background-color: aliceblue;
    grid-area: content1;
    border-radius:var(--main-rafius);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    align-items: center;
    gap: 0.2rem;
    border-radius:var(--main-rafius);
}
#content1 .card{
    background-color: aliceblue;
    border-radius:var(--main-rafius);
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    align-items: center;
    gap: 0.2rem;
    border-radius:var(--main-rafius);
}


#content2{
    background-color: aliceblue;
    grid-area: content2;
    border-radius:var(--main-rafius);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    align-items: center;
    gap: 0.2rem;
    border-radius:var(--main-rafius);
}
#content2 .card{
    background-color: aliceblue;
    border-radius:var(--main-rafius);
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    align-items: center;
    gap: 0.2rem;
    border-radius:var(--main-rafius);
}








/*
#content2{
    background-color: aqua;
    grid-area: content2;
    border-radius:var(--main-rafius);
}--*/
footer{
    background-color: rgb(18, 0, 35);
    grid-area: footer;
    border-radius:var(--main-rafius);
}

@media only screen and (max-width:550px){

/* start nav css */
nav{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-area: nav;
    overflow: hidden;
    align-items: center;
    gap: 0.2rem;
    border-radius:var(--main-rafius);
}nav .logo a i{
    font-size: 35px;
    text-align: left;
    color: rgb(93, 92, 92);
}nav .ul{
    display: block;
    position: fixed;
    z-index: 2;
    background-color: rgba(88, 88, 88, 0.822);
    width: 100%;
    top: 0;
    left: -100%;
    height: 100vh;
    transition: 1s ease;
}nav .ul .fa-times{
    float: right;
    margin-right: 20px;
    font-size: 40px;
    color: white;
}

ul{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}ul li {
margin-top: 30px;
font-size: 20px;
width: 80%;
padding-bottom: 10px;
text-align: left;
 border-bottom: 2px solid rgb(226, 226, 226);

}ul li a{
color:white;
margin-left: 15px;
}

/* end nav css */



.container{
    background-color: #ffffff5f;
    grid-template-columns: 1fr;
    grid-template-rows:0.4fr 3.5fr 6.9fr 9.6fr 0.5fr;
    grid-template-areas:
    "nav"
    "main"
    "content1"
    "content2"
    "footer"
    ;
    gap: 0;
    height: 390vh;
}
nav{

    border-radius: 0px;
}
main{
    border-radius: 0px;
}/* start main program css*/
#content1{
        background-image: url('fet.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.85);
    grid-area: content1;
    border-radius:var(--main-rafius);
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    padding: 10px;
    align-content: center;
    align-items: center;
    gap: 0.2rem;
    border-radius:0px;
}.main-program{
    margin: 0px;
    color: rgb(234, 234, 234);
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}.line-one{
    height: 2px;
    background-color: orangered;
    padding: 0;
    width: 15%;
    margin-left: 40%;
    margin-bottom: 40px;
    align-items: center;
}
#content1 .card{
    background-color: aliceblue;
    background-color: rgb(34, 34, 34);
    border-radius:var(--main-rafius);
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    height:auto;
    overflow: hidden;
    padding: 2px;
    margin-top: 5px;
    color: white;
    align-items: center;
    gap: 0.2rem;
    border-radius:0px;
}.card .card-img img{
    width: 100%;
}.card-title{
    text-transform: capitalize;
    color: rgb(239, 81, 60);
    font-size: 1.0rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}.card-description p{
    margin: 0;
    font-size: 13px;
    text-align: left;
    
}.bottom-button{
    margin-top: 40px;
}
.bottom-button a{
    background-color: orangered;
    padding: 24px 20px;
    color: white;
}

/*end main program section css */

/* featured guides section */

#content2{
    background-color: rgb(255, 255, 255);
    grid-area: content2;
    border-radius:var(--main-rafius);
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    padding: 10px;
    align-items: center;
    gap: 0.2rem;
    border-radius:var(--main-rafius);
}.varn{
    margin-top: 20px;
    color: black;
}
#content2 .card{
    background-color: rgb(255, 255, 255);
    border-radius:var(--main-rafius);
    display: grid;
height:auto;
overflow: hidden;
    grid-template-columns: 0.5fr 1fr;
    overflow: hidden;
    align-items: center;
    gap: 0.2rem;
    border-radius:0px;
}
#content2 .card img{
    width: 100%;
    padding-top: 1px;
    height: 120px;
    
}.guide-details{
    width: 100%;
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    align-items: baseline;
    align-self: flex-start;
    border-radius: 0px;
}
.guide-details h4{
margin: 0px;
text-transform: capitalize;
font-weight: 500;
font-size: 18px;
color: black;
}
.guide-details span{
    margin: 0;
    color: orangered;
    text-transform: capitalize;
    font-size: 13px;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.guide-details .mine-act{
    margin-top: -5px;
    font-size: 13px;;
    text-align: left;
}
.guide-details .line-two{
    margin-top: 8px;
    overflow: hidden;
    height: 2px;
    width: 10%;
    color: rgb(174, 174, 174);
    background-color:rgb(176, 176, 176);
}.guide-details .mine-act a{
    color:white;
    background-color: black;
    padding: 5px 5px;
    float: right;
    display: none;
    font-family: 'Poppins', sans-serif;
    margin-right: 12px;
    
}
.bottoms-button{
    margin-top: 40px;
    width: 100%;
    border-radius:2px;
    border: 1px solid grey;
    background-color: white;
}
.bottoms-button button{

    width: 100%;
    font-size: 20px;
padding: 8px 4px;
    text-align: center;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: rgb(41, 41, 41);
}.bottoms-button button i{
    font-size: 25px;
    font-weight: 900;
    margin-left: 5px;
    color: red;
    
}
/* end featured guides section */

/* start footer css */

#footer{
    background-color: black;
}#footer p{
    text-transform: capitalize;
}

/* end footer css */

}